.carousel-container{
    overflow: hidden;
    height: 80vh;
    width: 100%;
    position: relative;
}

.carousel-slide{
    display: flex;
    height: 100%;
}

.img--container img{
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: 0px 10%;
}

.img--container.c2 img{
    object-position: 50% 40%;
}

.img--container.c3 img{
    object-position: 50% 35%;
}

.img--container{
    width: 100vw;
    height: 100%;
}

.carousel--button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: absolute;
}


#prev-button, #next-button {
    cursor: pointer;
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.397);
    color: white;
    padding: 0 0.5rem;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .carousel-container{
        height: 50vh;
    }
    #prev-button, #next-button {
        font-size: 3rem;
    }

    .img--container img{
        object-position: 50% 50%;
    }
    .img--container.c1 img{
        object-position: 60% 50%;
    }
}